
#sectionArticles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;

    .articleCard,
    .articleCardWithoutImg,
    #cardContainer {
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    .articleCard {
        border-radius: 20px;
        width: 350px;
        margin: 30px;
        overflow: hidden;
        cursor: pointer;
        background-color: $background-cards;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
        justify-content: space-between;

        &:hover {
            box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.6);
            background-color: $background-cards-hover;
        }

        #cardContainer {
            display: flex;
            flex-direction: column;


            img {
                object-fit: cover;
                height: 65%;
                width: 100%;
            }

            .articleCardTxt,
            .articleCardWithoutImg {
                text-align: center;

                :nth-child(1) {
                    font-weight: 800;
                    font-size: 1.3em;
                    margin-block: 0;
                    margin: 10px 0;
                }
            }

            .articleCardTxt {
                :nth-child(1) {
                    margin-top: 20px;
                }

            }

            .articleCardWithoutImg {
                :nth-child(1) {
                    margin: 40px 0;
                }
            }
        }
    }
}

section {

    .imgContainer {

        max-height: 80%;
        margin: 5dvh 5dvw;
        width: 90dvw;
        border-radius: 5px;
        overflow: hidden;
        @include flexCenter;

        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);

        &:hover {
            box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.6);
            background-color: $background-cards-hover;
        }

        img {
            width: 100%;
        }
    }
}

//&:::::::::::::::::::::::::::::::::::::: RESPONSIVE :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
@media (max-width: 1023px) {

    #sectionArticles {
        margin-top: 0;
    }

    .topContainer {
        @include flexDirection;
        align-items: center;
        margin: 0 auto;

        .previousBtn {
            margin-left: 0;
        }
    }

    #sectionArticles #cardContainer {
        height: 265px;
    }

    #sectionArticles .articleCard {
        height: 265px;

        .cardContainer {
            height: 265px;
        }
    }

    #cardContainer .articleCardWithoutImg {
        :nth-child(1) {
            margin-top: 0;
        }

        :nth-child(2) {
            margin: 0;
        }
    }

    .articleCardTxt {
        :nth-child(1) {
            margin-top: 0;
            height: 25px;
        }
    }

}

@media (max-width: 768px) {


    .imgContainer {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        //* border-radius: 0;
        //* margin: 10px 0;
        //* ^ pour essayer d'enlever le border radius sur mobile
    }

}