#sectionArticles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .articleCard, .articleCardWithoutImg, #cardContainer {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .articleCard {
        background-color: $bleu-transparent-bordures;
        border-radius: 20px;
        width: 350px;
        margin: 30px;
        overflow: hidden;
        cursor: pointer;
        
        #cardContainer {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            
            img {
                object-fit: cover;
                height: 60%;
            }
            
            .articleCardTxt, .articleCardWithoutImg {
                text-align: center;
                
                :nth-child(1){
                    font-weight: 800;
                    font-size: 1.3em;
                    height: 50px;
                    max-height: 50px;
                    margin-block: 0;
                }
            }

            .articleCardTxt {
                :nth-child(1){
                    margin-top: 20px;
                }
            }
            .articleCardWithoutImg {
                :nth-child(1){
                    margin-top: 40px;
                }
            }
        }
    }
}

section {

    .imgContainer {
        display: flex;
        justify-content: center;
        max-width: 80%;
        max-height: 80%;
        margin: 20dvh auto;
    }
}

//TODO  
//&:::::::::::::::::::::::::::::::::::::: RESPONSIVE :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
@media (max-width: 1023px) {
    
    .topContainer {
        @include flexColumn;
    }
    .imgContainer {
        max-width: 70%;
        max-height: 70%;
        margin: 40dvh auto;
    }
}