//* ::::::::::::::::::::::::::::: RESET ::::::::::::::::::::::::::::::::::::::
:root{
    :focus-visible {
        outline: inset 6px rgb(3, 104, 82);
        transition: 0.3s outline;
        border-radius: auto;
    }
}

body, h3, .nav-menu, .containerNews, .faqBtn, #faqExpand, .containerNews p  {
    margin: 0;
}
li {
    list-style: none;
}
a, .skipShow {
    text-decoration: none;
}
span {
    margin-bottom: 0;
}

//* Fonts & Texte
h1, h2, h3, h4, h5, p, .containerNews, .skipShow, .nav-menu, a, .faqReponse, footer {
    hyphens: auto;
}
h1,
h3,
h4,
h5, h6 {
    font-size: 2.5rem;
}
.containerNews, .skipShow, .nav-menu, #mentionsLeg,
#sectionPresentation h2, #footerUrgence {
    text-align: center;
}
.nav-menu li, .skipShow {
    font-size: 2rem;
}

h3,
h5 {
    width: 96vw;
    display: flex;
    margin-bottom: 80px;
}

#topSectionTel,#topSectionAdresse, #sectionFaq p, #sectionAcces p{
    font-size: 1.5rem;
}
#sectionPraticien p {
    font-size: 1.3rem;
}
#footerAdresse span,
#footerAdresse p,
#footerAdresse address,
#footerTel, #footerUrgence {
    font-size: 1.2rem;
}
#sectionAcces, #sectionPraticien, footer {
    margin: 0 auto;
}

button, #newMentionLeg {
    font-size: 1.3rem;
}
article {

    .titreArticle {
        font-size: 1.7rem;
        font-weight: 700;
    }
    .resumeArticle {
        font-size: 1.3rem;
    }
}

//*::::::::::::::::::::::::::::::::::: GENERAL :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
i{
    margin-right: 10px;
    color: $bleu;
        &::after {
            color: $bleu;
        }
        &:hover {
            color: $bleu-base;
        }
}
#footerUrgence,
#mentionsLeg, #topSection {

    a,
    #newMentionLeg,  a h1 {
        color: $bleu;

        &:hover {
            color: rgb(21, 126, 117);
        }
    }
}
#sectionAcces, #sectionPraticien, footer {
    @include flexWrap;
}
h3, h5, #sectionAccesText, #sectionPraticien, .containerPraticien, #footerTel, #footerAdresse {
    @include flexCenter;
}
#main, #sectionNews, #sectionFaq, #sectionAcces, #sectionPraticien {
    scroll-margin-top: 80px;
}
#topSection, #topSectionTel, #topSectionAdresse, .navbarFront, .nav-menu, .nav-item, #sectionNews, .containerNews,
 #sectionFaq, .faqQuestion, .faqReponse, .containerPraticien, .containerPraticienText,
footer, #footerTel, #footerAdresse, .nav-item {
    align-items: center;
}
#topSection, #topSectionTel, #topSectionAdresse, .faqQuestion, .faqReponse, #faqExpandDiv, #sectionAcces, .nav-menu {
    @include disflex;
}
#sectionNews, .containerNews, #sectionFaq, #sectionAccesText, .containerPraticien, .containerPraticienText {
    @include flexDirection;
}
.containerNews, #sectionAcces {
    width: 80dvw;
}
#topSection, #sectionPresentation, #sectionNews, #sectionFaq, #sectionAcces, #sectionPraticien {
    max-width: 96dvw;
}
//*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 

// Fonction skip to main content
.skipHidden, .skipShow {
    position: absolute;
}

.skipHidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.skipShow {
    top: 0;
    left: 0;
    background-color: $bleu-clair;
    color: $noir;
    padding: 10px;
    width: 100dvw;
    height: fit-content;
}

//section Top
#topSection {
    height: 110px;
    max-width: 100dvw;
    background: linear-gradient(90deg, rgba(6, 226, 189, 0.4) 0%, rgba(6, 226, 178, 0.2) 50%, $background 100%);
    padding: 10px 0; 
    justify-content: space-around;   

    #topSectionBtn {
        width: 160px;
    }
    h1 {
        width: 340px;
    }
}
#topSectionTel, #topSectionAdresse {
    gap: 5px;
}

//navbar front
.navbarFront, .nav-menu {
    background-color: $bleu-base;
}
.navbarFront {
    position: sticky;
    top: 0;
    height: 80px;
    padding: 0 24px 6px 24px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
    z-index: 2;

    ul {
        height: 40px;
    }
}
.nav-menu {
    justify-content: space-around;
    flex-grow: 1;
    padding: 20px 0;
}

.nav-item {
    padding: 0 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: $noir;
    transition: all 0.3s ease-in-out;
}

//animation hover liens navbar

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #000000;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

//section presentation

#sectionPresentation {
    max-height: 385px;
    max-width: 100dvw;
    height: 385px;
    background-image: url(../../images/maison-medicale-pasteur-santes.webp);
    background-repeat: no-repeat;
    object-fit: contain;
    @include disflex;
    justify-content: flex-end;
    // align-items: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
    
    h2 {
        color: $bleu;
        margin-right: 1.5em;
        font-size: 3.5rem;
        width: 470px;
        line-height: 1.2em;
    }
}

//section News

#sectionNews {
    padding: 0 20px;
    text-align: left; 
    margin-top: -50px;
}

.containerNews {
    padding: 0 20px;
    height: 100px;
    cursor: pointer;
    background-color: #bff1e9;
    margin-bottom: 20px;

    a {
        width: 100%;
        padding: 20px;
    }
    &:hover {
        background-color: $bleu-test;
    }
}

//section faq
 #sectionFaq {
    padding: 100px 20px;


    p {
        margin: 10px 0 10px 10px;
        height: clamp(30px, auto, 80px);
    }

    div {
        width: 80dvw;
    }
 }

 .faqQuestion {    
    justify-content: space-between;
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: #BFF1E0;
    }

    .faqSpan {
        margin: 0;
        font-size: 40px;
        display: block;
        transition: 0.4s;

    }

    .faqSpan.active {
        transform: rotate(135deg);
        z-index: 0;
    }
 }
 .faqReponse {
    border-bottom: 1px solid #2f2f2f;
    padding: 0 5px;
    padding-bottom: 10px;
    text-align: left; 
 }

 .faqBtn {
    background-color: transparent;
    margin-left: 10px;
    align-self: baseline;
 }

 .reponseHide {
    display: none;
}
#faqExpandDiv {
    justify-content: flex-end;
    margin-bottom: 5px;
    height: auto;
    margin-right: 10px;
}

#faqExpand {
    background-color: transparent;
}


//Section Acces, Map etc
#sectionAcces {
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
    gap: 2%;
    iframe {
        flex-basis: 40%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

#sectionAccesText {
    text-align: left;
    gap: 5%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
    margin-right: 20px;

    i {
        margin-right: 20px;
    }
}

//section RDV, Equipe
#sectionPraticien {
    align-items: flex-start;
    width: 96dvw;
    
    .containerPraticien {
        background-color: $background-cards;
        min-width: 290px;
        flex-basis: 25%;
        height: 500px;
        padding: 20px;
        margin: 20px auto;
        border-radius: 20px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
        cursor: pointer;
        &:hover {
            box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.6);
            background-color: $background-cards-hover;  
        }
    
    }
    h5 {
        margin: 80px 0;
    }
    .praticienImg {
        width: 310px;
        height: 310px;
        border-radius: 50%;
        border: 2px solid rgb(145, 145, 145);
        box-shadow: inset 0 0 3px 1px rgb(145, 145, 145);
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        img, svg {
            object-fit: cover;
        }
        img {
            height: 100%;
            width: 100%;
        }
        &:hover {
            border: 2px solid $box-shadow;
            box-shadow: inset 0 0 3px 1px rgb(156, 156, 156), 0 0 3px 1px $box-shadow;
        }
    }
}
.containerPraticienText {
    height: 40%;
    justify-content: space-evenly;

    :first-child {
        font-size: 1.2rem;
        font-weight: bold;
    }

    :nth-child(2) {
        font-size: 0.9rem;
        margin-top: 0;
    }
}

.texteDyn {
    text-align: center;
}

//btn pr scroll en haut de page

.scrollToTheTop {
    position: fixed;
    bottom: 60px;
    right: 30px;
    // transition: 500ms;
    // background-image: linear-gradient(
    //     90deg,
    //     $bleu-clair2 50%,
    //     $bleu-clair 50%
    // );
    background-image: url(../../images/fondBtn.png);
    background-size: cover;
    border-radius: 50px;
    border: 1px solid rgb(163, 163, 163);
    box-shadow: inset 0 0 3px 1px rgb(163, 163, 163);
    background-repeat: no-repeat;
    padding: 15px 10px;
    cursor: pointer;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.8));

    i {
        margin: 0;
        &::after {
            color: $bleu;
        }
        &:hover {
            color: $noir;
        }
    }

    &:hover {
        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.8));
    }
    &:focus {
        border-radius: 50px;
    }
    
}
.hide {
    opacity: 0;
}

//footer

#footerListContainer {
    @include disflex;
    @include flexDirection($direction : row);
}
.footerList {
    max-width: 45dvw;
    margin: 0 1dvw 40px 1dvw;
    ul {
        h6, p {
            font-weight: 600;
        }
        h6 {
            margin: 20px auto;
        }
        li {
            margin: 15px 0;
            a {
                color: $bleu;
    
                &:hover {
                    color: rgb(21, 126, 117);
                }
            }
        }
    }
}
footer {
    margin-top: 40px;

    #bandeIcones {
        @include disflex;
        @include flexDirection($direction : row);
        justify-content: space-around;
        background-color: rgba(31, 185, 172, 0.2);
        // padding: 60px 45px;
        gap: 10%;
        width: 100%;

        i {
            font-size: 3rem;
        }
        .iconeBande {
            text-align: center;
            p {
                font-size: 2rem;
                margin-top: 20px;
            }
            span {
                font-size: 1rem;
            }
        }
    }
    #footerTopContainer {
        @include disflex;
        @include flexDirection($direction : row);
        @include flexCenter($justify : space-around);
        width: 96dvw;
        margin: 0;

        #footerTel,
        #footerAdresse {
            flex-grow: 1;
            margin: 40px 2dvw 0 2dvw;
            @include flexDirection($direction : column);
            
            .fa-house {
                margin-top: 25px;
            }
            a {
                font-size: 1.2rem;
                color: $bleu;

                &:hover {
                    color: rgb(21, 126, 117);
                }
            }
            i {
                line-height: 1em;
                font-size: 2rem;
            }
        }
        #footerTel , #footerAdresse address {
            line-height: 2.6rem;
        }
        #footerAdresse  {
            address {
                font-style: normal;
                text-align: center;
            }
        }
        #footerTel p, #footerAdresse address {
            margin: 15px 0;
        }
        #footerTel  {
            @include flexDirection($direction : column);
            @include flexWrap($wrap : wrap);
            text-align: center;
            margin: 55px 2dvw 0 2dvw;
            a {
                text-align: center;
            }
            p {
                margin: 15px 0 0 0;
            }
        }
    }


    #footerUrgence,  #mentionsLeg {

        width: 92dvw;
        margin: 20px 4dvw 0 4dvw;
        padding: 30px 0;
        a {
            color: $bleu;
            
            &:hover {
                color: rgb(21, 126, 117);
            }
        }
    }
    #mentionsLeg {
        border-top: 1px dotted $bleu;
    }

}

// RESPONSIVE
@media (max-width: 1023px) {

    #topSection {
        #topSectionTel, #topSectionAdresse {
            font-size: 1rem;
            display: none;
        }
    }

    .navbarFront {
        li {
            font-size: 1.5rem;
        }
        .nav-item {
            padding: 0 10px;
        }
    }

    #sectionPresentation {
        align-items: flex-start;
        
        
        h2 {
            font-size: 2.5rem;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 20px;
            padding: 10px;        
        }
    }
    #sectionNews {

        article {
            
            height: 160px;
            
            a {
                @include disflex;
                flex-wrap: wrap;
                @include flexDirection;
                
            }
        
            .titreArticle {
                font-size: 1.5rem;
                font-weight: 700;
                height: 80px;
                // padding: 0 40px;
                // // ^ marge droite & gauche du texte
                margin: auto;
            }

            .resumeArticle {
                font-size: 1rem;
            }
        }
    }

    iframe {
        height: 360px;
        width: 360px;
    }

    #sectionFaq {
        h3 {
            width: 100%;
            margin: 0 0 80px 0;
            text-align: center;
        }
    }

    .containerPraticien {
        max-width: 200px;

    }
}

@media (max-width: 435px) {
    #topSection {
    
        #topSectionBtn {
            font-size: 1rem;
        }
    }
    #sectionPresentation {
        background-image: url(../../images/maison-medicale-mobile-crop2.webp);
        background-position: bottom;
        background-size: cover;
        height: 390px;

        h2 {
            margin: 8dvh 2dvw 2dvh 2dvw;
            width: 470px;
        }
    }

    #faqExpandDiv {
        max-height: 80px;
        font-size: 0.8rem;
        @include flexWrap($wrap : nowrap);
    }
    #sectionAccesText {
        margin-right: 0;
    }

    #footerTel,
    #footerAdresse {
        justify-content: flex-start;
    }

    // footer {
    //     width: 70dvw;
    // }
}

@media (max-width:768px) {
    #topSection {
        h1 {
            width: 150px;
        }
    }
    
    .hamburger {
        display: block;
        transition: 0.3s;
    }

    .hamburger.deplace {

        transition: 0.3s;
        transform: translateY(-130px);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        @include flexDirection($direction : column);
        width: 100%;
        transition: 0.3s;
        height: 100dvh;
        align-items: center;
        padding: 0;
    }

    .nav-item {
        align-items: center;
        margin: 0;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #2f2f2f;
        border-top: 1px solid #2f2f2f;
        width: 90%;
    }

    .navbarFront.active, .nav-menu.active {
        background-color: rgba(25, 156, 145, 0.8);
    }
    .nav-menu.active {
        left: 0;
    }
    .navbarFront {
        @include disflex;
        ul {
            height: 100dvh;
        }
    }
    #sectionPraticien {
        width: 80dvw;
        max-width: 80dvw;
        p {
            font-size: 1.2rem;
        }
        .containerPraticien {
            max-width: 70dvw;            // flex-basis: 25%;
            height: 450px;
            margin: 20px 5dvw;
            padding: 10px;

            .praticienImg {
                width: 210px;
                height: 210px;
            }
        }
    }
    .backdropBlur {
        backdrop-filter: blur(8px);
    }

    iframe {
        height: 300px;
        width: 300px;
    }
    #footerTel, #footerAdresse{
        margin: 40px 3dvw 0 3dvw;
        width: 30dvw;
    }
    footer {
        #bandeIcones {
            @include flexDirection($direction : column);
            // padding: 10dvh 34.5dvw;
            gap: 10%;
            // margin: 0 auto;
            width: 100%;
    
            i {
                font-size: 3rem;
            }
            
            .iconeBande {
                text-align: center;
                justify-content: center;
                @include flexDirection($direction : column);
            }
    
        }
        #footerTopContainer {
            @include flexDirection($direction : column);
            width: 70dvw;
            margin: 0 auto;
        }
        #footerAdresse {
            width: 66dvw;
        }
        #footerUrgence {
            margin: 20px 5dvw 0 5dvw;
            @include flexCenter($justify : center);
        }
        #mentionsLeg {
            width: 55dvw;
            margin: 0px auto;
        }
        #footerTel {
            width: 65dvw;
        }
    }
}

//class pr empecher le scroll quand burger est ouvert
.noScroll {
    overflow-y: hidden;
}

//loader

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid rgb(163, 163, 163);
    border-radius: 50%;
    border-top: 16px solid rgb(43, 204, 216);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 999;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

#cacheBody {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 99;
}
