#sectionPraticien {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    align-items: flex-start;
    max-width: 80%;
    margin: 0 auto;
}


.containerPraticien {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    flex-basis: 25%;
    height: 500px;
}