//* ::::::::::::::::::::::::::::: RESET ::::::::::::::::::::::::::::::::::::::
:root{
    // margin: 0;
    :focus {
        outline: inset 6px rgb(3, 104, 82);
        transition: 0.3s outline;
        border-radius: auto;
    }
}
h3, .nav-menu, .containerNews, .faqBtn, #faqExpand {
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
span {
    margin-bottom: 0;
}

//* Fonts & Texte
h1, .nav-menu li {
    font-size: 2rem;
}
h2,
h3,
h4 {
    font-size: 2rem;
}

h2,
h4 {
    width: 100vw;
    display: flex;
    justify-content: center;
}
p, .titreArticle {
    font-size: 1.5rem;
}
button {
    font-size: 1.3rem;
}

//*::::::::::::::::::::::::::::::::::: GENERAL :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
i{
    margin-right: 10px;
    color: $bleu-base;
    
        &::after {
            color: $bleu-base;
        }
}

#main {
    scroll-margin-top: 80px;
}
//*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 

//section Top

.skipHidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.skipShow {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding: 5px;
    text-decoration: none;
    width: auto;
    height: auto;
}

#topSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
    height: 110px;
    max-width: 100dvw;
    background: linear-gradient(90deg, rgba(6, 226, 153, 0.4) 0%, rgba(6, 226, 153, 0.2) 50%, $background 100%);
    padding: 10px 0;    

    #topSectionBtn {
        margin-left: 2.5dvw;
    }
}
#topSectionTel, #topSectionAdresse {
    display: flex;
    align-items: center;
    gap: 5px;
}

//navbar front

.navbarFront {
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 6px 24px;
    background-color: $bleu-base
    
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 0;

    background-color: $bleu-base;
}


.nav-item {
    padding: 0 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

//animation hover liens navbar

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #000000;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

//section presentation

#sectionPresentation {
    max-height: 385px;
    max-width: 100dvw;
    background-image: url(../../images/maison-medicale-pasteur-santes.png);
    background-repeat: no-repeat;
    object-fit: contain;
    height: 385px;
}

//section News

#sectionNews {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: justify;
    align-items: center;
    scroll-margin-top: 80px;
    margin: -110px;
}

.containerNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    width: 80dvw;
    text-align: center;
    cursor: pointer;
    p {
        margin: 0;
    }
    a {
        width: 100%;
        padding: 50px 20px;
    }
    &:hover {
        background-color: #BFF1E0
        ;
    }
}

.containerNewsInfos {
    display: flex;
    justify-content: center;
    align-items: center;
}

//section faq
 #sectionFaq {
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    align-items: center;
    margin-top: 40px;
    border-top: solid 20px rgba(0, 199, 132, 0.5);

    p {
        margin: 10px 0 10px 10px;
        height: clamp(30px, auto, 80px);
    }

    div {
        width: 80dvw
    }
 }

 .faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    font-weight: bold;
    &:hover {
        background-color: #BFF1E0
        ;
    }
 }

 .faqReponse {
    border-bottom: 1px solid #2f2f2f;
    display: flex;
    align-items: center;
    padding: 0 5px;
    padding-bottom: 10px;
 }

 .faqBtn {
    background-color: transparent;
    margin-left: 10px;
    align-self: baseline;
 }

 .reponseHide {
    display: none;
}

#faqExpandDiv {
    width: 80dvw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    height: auto;
    margin-right: 10px;
}

#faqExpand {
    background-color: transparent;
}


//Section Acces, Map etc

#sectionAcces {
    scroll-margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: 100px auto;
    gap: 5%;
    width: 80dvw;
    iframe {
        flex-basis: 40%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

#sectionAccesText {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
    margin-right: 20px;

    i {
        margin-right: 20px;
    }
}

//section RDV, Equipe

#sectionPraticien {
    scroll-margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 100px auto;
}


.containerPraticien {
    background-color: #BFF1E0;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px ;

    img, svg {
        height: 60%;
    }
}

.containerPraticienText {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    :first-child {
        font-size: 25px;
        font-weight: bold;
    }

    :nth-child(2) {
        font-size: 20px;
        margin-top: 0;
    }
}

//btn pr scroll en haut de page

.scrollToTheTop {
    position: fixed;
    bottom: 60px;
    right: 30px;
    opacity: 1;
    transition: 500ms;
}
.hide {
    opacity: 0;
}


//footer

footer {
    display: flex;
    flex-wrap: wrap;
    //* faire une mixin flexWrap ? et une noWrap ? 
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

#footerTel, #footerAdresse, #mentionsLeg {
    display: flex;
    justify-content: center;
    //* faire une mixin flexCenter ?
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}


// RESPONSIVE
@media (max-width: 1023px) {

    #topSectionTel,
    #topSectionAdresse {
        display: none;
    }
}
@media (max-width: 435px) {

    #footerTel,
    #footerAdresse,
    #mentionsLeg {
        justify-content: flex-start;
        min-width: 70dvw
    }

    #mentionsLeg {
        margin-top: 20px;
    }

    footer {
        width: 70dvw;
        margin: 0 auto;
        margin-bottom: 20px;
    }

}
@media (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        height: calc(100% - 80px)
    }

    .nav-item {
        margin: 0;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #2f2f2f;
        border-top: 1px solid #2f2f2f;
        width: 90%;
    }

    .nav-menu.active {
        left: 0;
        background-color: rgba(25, 156, 113, 0.8);
    }

    .navbarFront.active {
        background-color: rgba(25, 156, 113, 0.8);
    }

    .backdropBlur {
        backdrop-filter: blur(8px);
    }
}