{% extends 'base_front.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<main id="main">

    <div id="mentions">

{% for mention in mentions %}

    <p>{{ mention.mentionsLegale | raw }}</p>

{% endfor %}

    </div>
</main>


{% endblock %}