{% extends 'base.html.twig' %}

{% block title %}Nouveau métier{% endblock %}

{% block body %}
    <h1>Ajouter un metier</h1>

    {{ include('metier/_form.html.twig') }}

    <a href="{{ path('app_metier_index') }}">
        <button>Retour à la liste des métiers</button>
    </a>
{% endblock %}
