{% extends 'base.html.twig' %}

{% block title %}Nouveau métier{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_metier_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>

        <h1>Ajouter un metier</h1>
    </div>

    
    {{ include('metier/_form.html.twig') }}

{% endblock %}
