{% extends 'base.html.twig' %}

{% block title %}Modifier Editeur{% endblock %}

{% block body %}
    <div class="topContainer">
        <div>
            <a href="{{ path('app_editeur_index') }}">
                <button class="previousBtn">Précédent</button>
            </a>
        </div>

        <h2>Modifier un Editeur</h2>
    </div>

    {{ include('editeur/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
         {{ include('editeur/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
