{% extends 'base.html.twig' %}

{% block title %}Créer Éditeurs{% endblock %}

{% block body %}
    <h1>Créer un nouvel Éditeur</h1>

    {{ include('editeur/_form.html.twig') }}

    <a href="{{ path('app_editeur_index') }}">Précédent</a>
{% endblock %}
