{% extends 'base.html.twig' %}

{% block title %}Créer Editeur{% endblock %}

{% block body %}
    <h1>Créer un nouvel Editeur</h1>

    {{ include('editeur/_form.html.twig') }}

    <a href="{{ path('app_editeur_index') }}">Précédent</a>
{% endblock %}
