{% extends 'base.html.twig' %}

{% block title %}Créer Éditeurs{% endblock %}

{% block body %}
    <h1>Créer un nouvel Éditeur</h1>

    <a href="{{ path('app_editeur_index') }}">
        <button class="previousBtn">Précédent</button>
    </a>
    
    {{ include('editeur/_form.html.twig') }}

{% endblock %}
