{% extends 'base.html.twig' %}

{% block title %}Créer Éditeurs{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_editeur_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>
        <h2>Créer un nouvel Éditeur</h2>

    </div>
    
    {{ include('editeur/_form.html.twig') }}

{% endblock %}
