{% extends 'base.html.twig' %}

{% block title %}Nouvelle FAQ{% endblock %}

{% block body %}
    <h1>Ajouter une FAQ</h1>

    {{ include('faq/_form.html.twig') }}

    <a href="{{ path('app_faq_index') }}">Retour à la liste des FAQ</a>
{% endblock %}
