{# {% extends 'base.html.twig' %}

{% block title %}Nouvelle FAQ{% endblock %}

{% block body %}
    <h1>Ajouter une FAQ</h1>

    {{ include('faq/_form.html.twig') }}

    <a href="{{ path('app_faq_index') }}">Retour à la liste des FAQ</a>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Nouvelle FAQ{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_faq_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>

        <h1>Ajouter une FAQ</h1>
    </div>


    {{ include('faq/_form.html.twig') }}
        

{% endblock %}
