{% extends 'base.html.twig' %}

{% block title %}Edit Mentions{% endblock %}

{% block body %}

<div class="topContainer">
    <div>
        <a href="{{ path('app_mentions_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>
    </div>
    <h2>Modifier Mentions Légales</h2>
</div>


    <h2 style="text-align: center">Vous pouvez trouver la liste des mentions obligatoires en suivant ce lien : <a href="https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires#"><u>Mentions obligatoires</u></a></h2>
    

    {{ include('mentions/_form.html.twig', {'button_label': 'Sauvegarder'}) }}


    {{ include('mentions/_delete_form.html.twig') }}
{% endblock %}
