{% extends 'base.html.twig' %}

{% block title %}New Mentions{% endblock %}

{% block body %}
    <h2>Create new Mentions</h2>

    {{ include('mentions/_form.html.twig') }}

    <a href="{{ path('app_mentions_index') }}">back to list</a>
{% endblock %}
