{% extends 'base.html.twig' %}

{% block title %}Modifier praticien{% endblock %}

{% block body %}
    <h1>Modifier le praticien</h1>

    {{ include('praticien/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_praticien_index') }}">
        <button>Retour à la liste des praticiens</button>
    </a>

    {{ include('praticien/_delete_form.html.twig') }}
{% endblock %}
