{% extends 'base.html.twig' %}

{% block title %}Modifier praticien{% endblock %}

{% block body %}
    <div class="topContainer">
        <div>
            <a href="{{ path('app_praticien_index') }}">
                <button class="previousBtn">Précédent</button>
            </a>
        </div>
        
        <h2>Modifier Profil</h2>
    </div>

    
    {{ include('praticien/_form.html.twig') }}
    {{ include('praticien/_delete_form.html.twig') }}
{% endblock %}
