{% extends 'base.html.twig' %}

{% block title %}Nouveau Praticien{% endblock %}

{% block body %}
    <h1>Creer un nouveau Praticien</h1>

    {{ include('praticien/_form.html.twig') }}

    <a href="{{ path('app_praticien_index') }}">
        <button>Retour à la liste des praticiens</button>
    </a>
{% endblock %}
