{% extends 'base.html.twig' %}

{% block title %}Nouveau Praticien{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_praticien_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>
        <h2>Créer un Praticien</h2>
    </div>
    

    {{ include('praticien/_form.html.twig') }}

{% endblock %}
