@import 'app.scss';

//&::::::::::::::::::::::::::::::::::GENERAL::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

:root {
    font-family: 'Inclusive Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $background;

    h2,
    th {
        text-align: center;
    }

    .custom-wrapper,
    .ctnListesNav,
    .pure-g,
    .liensMenu,
    .menuLogin,
    .btnContainer,
    .btnRow,
    #praticien_metiers,
    #article_tags,
    #article_editeurs,
    .topContainer {
        @include disflex;
    }
    .topContainer a, #sectionPresentation h2 {
        hyphens: none;
    }

    form,
    form div {
        @include flexDirection;
    }

    section {

        article {
            margin: 40px;

            div {
                display: flex;
                justify-content: flex-end;
                margin-top: 40px;
            }
        }
    }
    p {
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}

//&:::::::::::::::::::::::::::::::::: FONTS & TEXTES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.custom-brand p {
    font-weight: 700;
    text-transform: uppercase;
}

li {
    font-size: 1.2rem;
}

//TODO ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//TODO ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

//TODO   - créer "cartes" praticiens ?
//TODO   - SCROLLBAR STYLE : https: //blog.logrocket.com/guide-styling-css-scrollbars/#introduction-scrollbars
//TODO   - Responsive tableaux
//TODO   
//TODO 
//TODO ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//TODO ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


//&::::::::::::::::::::::::::::::MENU HEADER:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.custom-wrapper,
.ctnListesNav,
.pure-g {
    flex-flow: row nowrap;
}

.custom-wrapper {
    background-color: $bleu-base;
    height: 60px;

    .custom-brand {
        font-size: 1.2rem;
    }

    .ctnListesNav {
        justify-content: center;
    }

    .menuLogin {
        justify-content: flex-end;

        .logoutIcon {
            display: none;
        }
    }

    .custom-brand p,
    li,
    a {
        margin: 0;
    }

    .pure-menu-link {
        color: $noir;
        padding: 1em 0.5em;
    }

    .fa-power-off {
        margin: 0 0.3em 0 0.1em;
    }
}


//&:::::::::::::::::::::::::::::::::::TABLEAUX:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.pure-table-horizontal,
tr {
    border: solid 0.13rem $bleu-transparent-bordures;
    margin: 0 auto;
}

tbody {
    tr {
        height: 80px;
    }

    .btnTdIndex {
        width: 360px;

        .afficherBtn {
            margin-right: 10px;
        }
    }

    .tdIndex {
        max-width: 25dvw;
        // overflow: scroll;
    }
}

.pure-table thead {
    background-color: $bleu-transparent-thead;
}


//&:::::::::::::::::::::::::::::::::::BOUTONS:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

//* Boutons frontPage bleu foncé
#topSectionBtn button,
.cardBtn,
#faqExpand, .previousBtnFront {
    @include btnDelay;
    @include button($color: $bleu);
    color: $blanc;

    &:hover {
        background-color: $bleu-clair;
        border: none;
        box-shadow: 0 2px 3px 2px $box-shadow;
        color: $noir;
    }
}

//* Boutons back-office bleu clair
td button,
.btnContainer button,
.saveBtn,
.previousBtn,
#loginBtn, 
#newMentionLeg {
    @include btnDelay;
    @include button($color: $bleu-clair);
    color: $noir;

    &:hover {
        background-color: $bleu-clair2;
        border: none;
        box-shadow: 0 2px 3px 2px $box-shadow;
    }
}

//* Bouton supprimer
.supprBtn {
    @include btnDelay;
    @include button($color: $rouge);
    // color: $noir;
    margin: 30px auto;
    padding: 10px 30px;
    box-shadow: 0 2px 4px $box-shadow-clair;

    &:hover {
        background-color: $rouge-clair;
        border: none;
        box-shadow: 0 2px 3px 2px $box-shadow;
    }
}

.previousBtn {
    margin-left: 20px;
}

a {
    color: $noir;
    text-decoration: none;
}

.btnRow {
    flex-direction: row;
    justify-content: center;

    div {
        padding-inline: 1rem;
    }
}

.btnContainer {
    justify-content: center;

    button {
        margin: 30px auto 60px auto;
        padding: 10px 30px;
    }
}

#praticien_imageFile_file,
#article_imageFile_file {
    width: 40%;
}

//&:::::::::::::::::::::::::::::::::::FORMULAIRES:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
form {

    textarea {
        margin: 10px 0;
        width: 40vw;
        height: 100px;
    }

    input {
        padding: 5px 0;
        margin: 5px 0;
    }
}

#articleForm,
#editeurForm,
#faqForm,
#tagForm,
#metierForm,
#userForm {
    margin: 2vh 30vw;
}

#praticienForm {
    margin: 2vh 15vw;
}

//&::::::::::::::::::::::::::::checkboxes:::::::::::::::::::::::::::
#praticien_metiers,
#article_tags,
#article_editeurs {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 0 0 0;

    label {
        width: 28%;
    }

    input {
        width: 5%;
    }
}

div {
    .required {
        margin: 20px 0 5px 0;
    }
}

.enabled,
#editeur_user_enabled {
    display: none;
}

.titreIndex,
.topContainer h2 {
    font-size: 2.5rem;
}

.titreIndex {
    width: 100%;
    margin: 20px auto;
}

.topContainer {
    height: 2
    00px;
    justify-content: space-between;
    padding-top: 20px;
    flex-direction: column;

    h2 {
        width: 92dvw;
        margin: 25px auto;
    }
    div {
        max-width: 94dvw;
        padding-left: 20px;
    }
}


//&::::::::::::::::::::::::::::champs Password:::::::::::::::::::::::::::
#user_password,
#editeur_user,
#editeur_user_password_first {
    div {
        label {
            margin: 20px 0 5px 0;
        }
    }
}

//&::::::::::::::::::::::::::::::::Help messages::::::::::::::::::::::::::::::

.help-text {
    color: $texte-gris;
    font-style: italic;
    margin: 5px 0 30px 0;
}

//&::::::::::::::::::::::::::::Error messages::::::::::::::::::::::::::::::

form {

    li {
        color: $rouge;
    }
}


//&:::::::::::::::::::::::::::::::::::::: RESPONSIVE :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

//* Moins de 1024px => Tablettes
@media (max-width: 1023px) {

    .custom-wrapper {
        overflow-x: scroll;
    }

    .custom-wrapper .ctnListesNav {
        justify-content: flex-start;
    }

    .column {
        @include flexDirection;
    }

    // border: none;
    // border-bottom: none;
    // ^ Impossible de ré-écrire sur ce code : 
    // .pure-table-horizontal td,
    // .pure-table-horizontal th {
    //     border-width: 0 0 1px 0;
    //     border-bottom-width: 1px;
    //     border-bottom: 1px solid #cbcbcb;
    // }
    .topContainer {
        @include flexDirection;
        height: auto;
    }
}
@media (max-width: 768px) {
    .topContainer {
        h2 {
            
            font-size: 1.7rem;
        }
        div {
            padding-left: 0;
        }
    }
}