
@import 'app.scss';


//^ :::::::::::::::::::::::::::::::::: VARIABLES & MIXINS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//* PALETTE DE COULEURS
$bleu-base: rgb(25, 156, 113);
$bleu-clair: rgba(0, 199, 132, 1);
$bleu-clair2:rgba(6, 226, 153, 1);
$rouge: rgb(235, 31, 27);
$rouge-clair: rgb(255, 38, 34);
$texte-gris: rgb(37, 37, 37);
$background: rgb(255, 248, 239);

//* BOX-SHADOW & TRANSPARENT
$bleu-box-shadow: rgba(0, 122, 82, 0.8);
$bleu-fonce-box-shadow: rgba(0, 99, 66, 0.8);

$orange-box-shadow-clair: rgba(161, 43, 0, 0.8);
$orange-box-shadow: rgba(82, 24, 0, 0.8);

$bleu-transparent-thead: rgba(25, 156, 113, 0.8);
$bleu-transparent-bordures: rgba(25, 156, 113, 0.3);

//* MIXINS
@mixin disflex {
    display: flex;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}


//&::::::::::::::::::::::::::::::::::GENERAL::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

:root {
    font-family: 'Inclusive Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $background;

    h1, th {
        text-align: center;
    }
    .custom-wrapper,
    .ctnListesNav,
    .pure-g, .liensMenu, .menuLogin, .btnContainer, .btnRow, #praticien_metiers,
    #article_tags,
    #article_editeurs, .topContainer {
        @include disflex;
    }
    form, form div {
        @include flexColumn;
    }

    section {
        .imgContainer {
            display: flex;
            justify-content: center;
        }

        article {
            margin: 40px;

            div {
                display: flex;
                justify-content: flex-end;
                margin-top: 40px;
            }
        }
    }
}

//* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//* ::::::::::::::::::::::::::::::::::::::::::::::::À FAIRE:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

//*   - créer "cartes" praticiens ?
//*   - créer "cartes" métiers ?
//*   - SCROLLBAR STYLE : https: //blog.logrocket.com/guide-styling-css-scrollbars/#introduction-scrollbars
//*   - Responsive tableaux
//*   - .custom-brand p => remplacer par logo & supprimer le code
//* 
//* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

//&::::::::::::::::::::::::::::::MENU HEADER:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.custom-wrapper, .ctnListesNav, .pure-g {
    flex-flow: row nowrap;
}
.custom-wrapper {
    background-color: $bleu-base;
    height: 3em;    

    .ctnListesNav {     
        justify-content: center;
    }

    .menuLogin {
        justify-content: flex-end;

        .logoutIcon {
            display: none;
        }
    }
    .custom-brand p {
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
}


.pure-menu-link {
    color: black;
    padding: 0.94em 0.5em 0.94em 0.5em;
}

.fa-power-off {
    margin: 0 0.3em 0 0.1em;
}


//&:::::::::::::::::::::::::::::::::::TABLEAUX:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.pure-table-horizontal,
tr {
    border: solid 0.13rem $bleu-transparent-bordures;
    margin: 0 auto;
}

tbody {
    tr {
        height: 80px;
    }
    
    .btnTdIndex {
        width: 260px;

        .afficherBtn{
            margin-right: 10px;
        }
    }

    .tdIndex {
        max-width: 25dvw;
        // overflow: scroll;
    }
}

.pure-table thead {
    background-color: $bleu-transparent-thead;
}


//&:::::::::::::::::::::::::::::::::::BOUTONS:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

button {
    background-color: $bleu-clair;
    border: solid 2px $bleu-clair;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: 0 2px 4px $bleu-fonce-box-shadow;

    &:hover {
        background-color: $bleu-clair2;
        border: solid 2px $bleu-clair2;
        box-shadow: 0 2px 3px 2px $bleu-fonce-box-shadow;
    }
}

.previousBtn {
    margin-left: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.btnRow {
    flex-direction: row;
    justify-content: center;
    div {
        padding-inline: 1rem;
    }
}

.btnContainer {
    justify-content: center;

    button {
        margin: 30px auto 60px auto;
        padding: 10px 30px;
    }
}

.supprBtn {
    background-color: $rouge;
    border: solid 2px $rouge;
    margin: 30px auto;
    padding: 10px 30px;
    box-shadow: 0 2px 4px $orange-box-shadow;
    &:hover {
        background-color: $rouge-clair;
        border: solid 2px $rouge-clair;
        box-shadow: 0 2px 3px 2px $orange-box-shadow-clair;
    }
}

#praticien_imageFile_file, 
#article_imageFile_file {
    width: 40%;
}

//&:::::::::::::::::::::::::::::::::::FORMULAIRES:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
form {
    
    textarea {
        margin: 10px 0;
        width: 40vw;
        height: 100px;
    }
    
    input {
        padding: 5px 0;
        margin: 5px 0;
    }
}

#articleForm,
#editeurForm,
#faqForm,
#tagForm,
#metierForm,
#userForm {
    margin: 2vh 30vw;
}

#praticienForm {
    margin: 2vh 15vw;
}

//&::::::::::::::::::::::::::::checkboxes:::::::::::::::::::::::::::
#praticien_metiers, #article_tags, #article_editeurs {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 0 0 0;
    label {
        width: 28%;
    }
    input{
        width: 5%;
    }
}

div{
    .required{
        margin: 20px 0 5px 0;
    }
}

.enabled,
#editeur_user_enabled {
    display: none;
}

.topContainer {
    height: 100px;
    width: 90%;
    justify-content: space-between;
    padding-top: 20px;

    h1 {
        margin: 3dvh auto;
    }
}

//&::::::::::::::::::::::::::::champs Password:::::::::::::::::::::::::::
#user_password,
#editeur_user,
#editeur_user_password_first {
    div {
        label {
            margin: 20px 0 5px 0;
        }
    }
}

//&::::::::::::::::::::::::::::::::Help messages::::::::::::::::::::::::::::::

.help-text {
    color: $texte-gris;
    font-style: italic;
    margin: 5px 0 30px 0;
}

//&::::::::::::::::::::::::::::Error messages::::::::::::::::::::::::::::::

form {

    li {
        color: $rouge;
    }
}

//&:::::::::::::::::::::::::::::::::::::: RESPONSIVE :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

//* Moins de 1024px => Tablettes
@media (max-width: 1023px) {

    // button {
    //     margin: 10px 30vw;
    // }
    .custom-wrapper {
        overflow-x: scroll;
    }

    .custom-wrapper .ctnListesNav {
        justify-content: flex-start;
    }
    .column {
        @include flexColumn;
    }
    // border: none;
    // border-bottom: none;
    // ^ Impossible de ré-écrire sur ce code : 
        // .pure-table-horizontal td,
        // .pure-table-horizontal th {
        //     border-width: 0 0 1px 0;
        //     border-bottom-width: 1px;
        //     border-bottom: 1px solid #cbcbcb;
        // }
}