@import 'app.scss';

html{
    font-family: 'Inclusive Sans', sans-serif;
}

body {
    background-color: lightgray;
}
html, body, h1, .custom-wrapper, footer {
    width: 100vw;
}

h1 {
    margin: 5vh auto;
    text-align: center;
}

.menuLogin {
    display: flex;
    justify-content: flex-end;    
}

td {
    max-width: 20vw;
}
.column{
    display: flex;
    flex-direction: column;
}
textarea {
    width: 200px;
    height: 100px;
}
// MENU RESPONSIVE
.custom-wrapper {
    background-color: rgb(25, 156, 113);
    margin-bottom: 1em;
    height: 2.1em;
    overflow: hidden;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.custom-brand {
    width: 50px;
}
.custom-toggle .bar {
    background-color: black;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    // position: absolute;
    // top: 18px;
    // right: 7px;
    // -webkit-transition: all 0.5s;
    // -moz-transition: all 0.5s;
    // -ms-transition: all 0.5s;
    // transition: all 0.5s;
}
.pure-g {
    flex-flow: row nowrap;
}
// .custom-toggle .bar:first-child {
//     -webkit-transform: translateY(-6px);
//     -moz-transform: translateY(-6px);
//     -ms-transform: translateY(-6px);
//     transform: translateY(-6px);
// }

// .custom-toggle.x .bar {
//     -webkit-transform: rotate(45deg);
//     -moz-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
// }

// .custom-toggle.x .bar:first-child {
//     -webkit-transform: rotate(-45deg);
//     -moz-transform: rotate(-45deg);
//     -ms-transform: rotate(-45deg);
//     transform: rotate(-45deg);
// }
.pure-menu-link{
    color: black;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

#menu ul {
    position: relative;
}
@media (max-width: 768px) {

    .custom-wrapper {
        overflow: scroll;
    }

}
// TABLEAUX

.pure-table-horizontal,
tr {
    border: solid 0.13rem rgba(25, 156, 113, 0.3);
    margin: 0 auto;
}

tbody {
    tr {
        height: 80px;
    }
}
th{
    text-align: center;
}
// textarea::placeholder, input::placeholder{
//     color: blue;
// }
