@mixin disflex {
    display: flex;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin flexWrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin btnDelay {
    transition: background-color 0.8s;
}