
@mixin disflex {
    display: flex;
}

@mixin flexCenter($justify : center) {
    display: flex;
    justify-content: center;
}

@mixin flexWrap($wrap : wrap) {
    display: flex;
    flex-wrap: wrap;
}

@mixin flexDirection($direction : column) {
    display: flex;
    flex-direction: $direction;
}

@mixin button($color : $bleu) {
    background-color: $color;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@mixin btnDelay {
    transition: background-color 0.8s;
}