$bleu-base: rgb(31, 185, 172);
//* bleu base 2 ^

$bleu-clair: rgb(43, 204, 216);
//* ^boutons

$bleu-clair2: rgb(96, 240, 240);
//* ^hover boutons

$bleu: #1c354c;


$bleu-test: rgba(0, 199, 149, 0.5);


$blanc: rgba(255, 255, 255, 1);
$noir: rgba(0, 0, 0, 1);
$rouge: rgb(235, 31, 27);
$rouge-clair: rgb(255, 38, 34);
$texte-gris: rgb(37, 37, 37);
$background: rgb(255, 248, 239);

$background-cards: rgb(191, 241, 233);
$background-cards-hover: rgb(205, 248, 241);

//* BOX-SHADOW & TRANSPARENT
$box-shadow: rgba(0, 0, 0, 0.6);
$box-shadow-clair: rgba(0, 0, 0, 0.5);

$orange-box-shadow-clair: rgba(161, 43, 0, 0.8);
$orange-box-shadow: rgba(82, 24, 0, 0.8);

$bleu-transparent-thead: rgba(25, 156, 139, 0.8);
$bleu-transparent-bordures: rgba(25, 156, 145, 0.3);