{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

<section>
{% for faq in faqs %}

    <div>
        <p>{{ faq.question }}</p>
        <p>{{ faq.reponse }}</p>
    </div>

{% endfor %}
</section>

{% endblock %}
