{% extends 'base.html.twig' %}

{% block title %}Maison médicale Pasteur-Santes{% endblock %}

{% block body %}

<section>
<h2>Test section faq</h2>
{% for faq in faqs %}

    <div>
        <p>{{ faq.question }}</p>
        <p>{{ faq.reponse }}</p>
    </div>

{% endfor %}
</section>

<section>
    <h2>Test section news</h2>
    {% for new in news %}

    <div>
        <p>Date : {{ new.updatedAt|date('d/m/Y') }}</p>
        <p>{{ new.resume }}</p>
    </div>

    {% endfor %}

</section>

{% endblock %}
