{% extends 'base.html.twig' %}

{% block title %} Test Metier {% endblock %}

{% block body %}

<h2>Liste de tous les métiers</h2>

{% for metier in metiers %}

    <p>nom : {{ metier.nom }} </p>
    <p>description : {{ metier.description }} </p>
    <hr>

{% endfor %}

{% endblock %}
