{% extends 'base.html.twig' %}

{% block title %}Modifier une Catégorie{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_tag_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>
        
        <h1>Modifier une Catégorie</h1>
    </div>
    
    {{ include('tag/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
