{% extends 'base.html.twig' %}

{% block title %}Créer Catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Catégorie</h1>

    {{ include('tag/_form.html.twig') }}

    <a href="{{ path('app_tag_index') }}">
        <button>Précédent</button>
    </a>
{% endblock %}
