{% extends 'base_front.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}

<div id="error">

    <h1> Oops ! </h1>
<<<<<<< HEAD
    <p>Cette page n'existe pas... <i class="fa-regular fa-face-rolling-eyes"></i></p>
    <button onclick= window.location.href="{{ path('app_front') }}">Retour à l'accueil</button>
=======
    <p>Cette page n'existe pas...</p>
   <button onclick= window.location.href="{{ path('app_front') }}">Retour à l'accueil</button>
   <img src="{{ asset('build/images/maison-medicale-mobile-crop2.webp') }}" alt="test" />
>>>>>>> c937c6ee09b9d3c202882b74c68dcf401c367269

</div>

{% endblock %} 