{% extends 'base_front.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}

<div id="error">

    <h1> Oops ! </h1>
    <p>Cette page n'existe pas... <i class="fa-regular fa-face-rolling-eyes"></i></p>
    <button onclick= window.location.href="{{ path('app_front') }}">Retour à l'accueil</button>
    
    <div class="imgContainer">
        <img src="../../../../assets/images/custoji.png"/>
    </div>
</div>

{% endblock %} 