{% extends 'base.html.twig' %}

{% block title %}Créer Article{% endblock %}

{% block body %}
    <h1>Créer un nouvel Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">Précédent</a>
{% endblock %}
