{% extends 'base.html.twig' %}

{% block title %}Créer Article{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_article_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>
        <h2>Créer un nouvel Article</h2>
    </div>
    
    {{ include('article/_form.html.twig') }}

{% endblock %}
