{% extends 'base.html.twig' %}

{% block title %}Modification user{% endblock %}

{% block body %}
    <div class="topContainer">
        <div>
            <a href="{{ path('app_user_index') }}">
                <button class="previousBtn">Précédent</button>
            </a>
        </div>
        <h2>Modification de l'Admin {{ user.id }}</h2>
    </div>

    
    {{ include('user/_form.html.twig') }}
    {{ include('user/_delete_form.html.twig') }}


{% endblock %}
