{% extends 'base.html.twig' %}

{% block title %}nouvel admin{% endblock %}

{% block body %}
    <h1>Creation d'un nouvel admin</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour à la liste des utilisateurs</a>
{% endblock %}
