{% extends 'base.html.twig' %}

{% block title %}nouvel admin{% endblock %}

{% block body %}
    <div class="topContainer">    
        <a href="{{ path('app_user_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>
        <h2>Création d'un nouvel admin</h2>
    </div>

    
    {{ include('user/_form.html.twig') }}

{% endblock %}
